<footer class="row">
  <div class="container">
    <div  class="col-md-3 col-sm-6 col-xs-12">
      <h3>About Biliki</h3>
      <p>set del amet puido cerar una puerta set del amet puido cerar una puerta vset del amet puido cerar una puerta set del amet puido cerar una puertaset del amet puido cerar una puerta set del amet</p>
    </div>
    <div  class="col-md-3 col-sm-6 col-xs-12">
      <h3>Latest sweets</h3>
      <div class="one_tweet">
        <p>sit amet orem ipsum dolor sit amet, consetetur sadipscing</p>
        <a href="#">http://t.co/#####</a>
        <div class="date">03 March 2013</div>
      </div>
      <div class="one_tweet">
        <p>sit amet orem ipsum dolor sit amet</p>
        <a href="#">http://t.co/#####</a>
        <div class="date">03 March 2013</div>
      </div>
    </div>
    <div  class="col-md-3 col-sm-6 col-xs-12">
      <h3>Contact us</h3>
      <p> <img src="_images/biliki-12grids_03.png" alt="" /> admin@ws-templates.com</p>
      <p> <img src="_images/biliki-12grids_06.png" alt="" /> 1234 somewhere on the earth,Country,myLovelyCity</p>
      <p> <img src="_images/biliki-12grids_10.png" alt="" /> 00-000-0000</p>
      <p class="social_icons">
        <a href=""><img src="_images/f_twitter.jpg" alt=""></a>
        <a href=""><img src="_images/f_facebook.jpg" alt=""></a>
        <a href=""><img src="_images/f_gplus.jpg" alt=""></a></p>
    </div>
    <div  class="col-md-3 col-sm-6 col-xs-12">
      <h3>Newsletter</h3>
      <p>Puerta vset del amet puido cerar una uerta set del amet puido cerar una puertaset del amet puido</p>
      <form>
        <input type="text" placeholder="your email" size="25" />
        <input type="submit" class="btn"  value="join" />
      </form>
    </div>
    <span class="clearfix"></span>
    <hr/>
    <div>
      <span class="container">
        Copyright 2013 by
        <b>Biliki</b>, all rights reserved
        <span class="pull-right">Design by :
          <a href="http://ws-templates.com">ws-templates.com</a></span>
      </span></div>
  </div></footer>
