<section class="container" id="four_cols">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <img src="assets/_images/b_icon.jpg" alt="" />
    <h2>Automn</h2>
    <p>set del amet puido cerar una puerta set del amet puido cerar</p>
    <a href="#" class="btn btn-default">Read more</a>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <img src="assets/_images/b_icon_13.jpg" alt="" />
    <h2>Spring</h2>
    <p>set del amet puido cerar una puerta set del amet puido cerar</p>
    <a href="#" class="btn btn-default">Read more</a>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <img src="assets/_images/b_icon_15.jpg" alt="" />
    <h2>Summer</h2>
    <p>set del amet puido cerar una puerta set del amet puido cerar</p>
    <a href="#" class="btn btn-default">Read more</a>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <img src="assets/_images/b_icon_17.jpg" alt="" />
    <h2>hiver</h2>
    <p>set del amet puido cerar una puerta set del amet puido cerar</p>
    <a href="#" class="btn btn-default">Read more</a>
  </div>
</section>
<!--################################################-->
<section id="developpers" class="container">
  <h3>About the developpers</h3>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrapper"><img src="assets/images/developper.jpg" alt="" />
      <h4>John doe</h4>
      <p>Developper</p>
      <p>
        <a href="#"> <img src="assets/_images/facebook.jpg" alt=""></a>
        <a href="#"> <img src="assets/_images/twitter.jpg" alt=""></a>
        <a href="#"> <img src="assets/_images/gplus.jpg" alt=""></a>
      </p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrapper"><img src="assets/images/developper.jpg" alt="" />
      <h4>John doe</h4>
      <p>Developper</p>
      <p>
        <a href="#"> <img src="assets/_images/facebook.jpg" alt=""></a>
        <a href="#"> <img src="assets/_images/twitter.jpg" alt=""></a>
        <a href="#"> <img src="assets/_images/gplus.jpg" alt=""></a>
      </p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrapper"><img src="assets/images/developper.jpg" alt="" />
      <h4>John doe</h4>
      <p>Developper</p>
      <p>
        <a href="#"> <img src="assets/_images/facebook.jpg" alt=""></a>
        <a href="#"> <img src="assets/_images/twitter.jpg" alt=""></a>
        <a href="#"> <img src="assets/_images/gplus.jpg" alt=""></a>
      </p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="wrapper"><img src="assets/images/developper.jpg" alt="" />
      <h4>John doe</h4>
      <p>Developper</p>
      <p>
        <a href="#"> <img src="assets/_images/facebook.jpg" alt=""></a>
        <a href="#"> <img src="assets/_images/twitter.jpg" alt=""></a>
        <a href="#"> <img src="assets/_images/gplus.jpg" alt=""></a>
      </p>
    </div>
  </div>


</section>
<!--################################################-->
<section id="clients" class="container clearfix">
  <h3>Our clients</h3>
  <hr />
  <div class="col-md-2 col-sm-4 col-xs-12">
    <img src="assets/images/aClient.png" alt="" />
  </div
  ><div class="col-md-2 col-sm-4 col-xs-12">
    <img src="assets/images/aClient.png" alt="">
  </div>
  <div class="col-md-2 col-sm-4 col-xs-12">
    <img src="assets/images/aClient.png" alt="">
  </div>
  <div class="col-md-2 col-sm-4 col-xs-12">
    <img src="assets/images/aClient.png" alt="">
  </div>
  <div class="col-md-2 col-sm-4 col-xs-12">
    <img src="assets/images/aClient.png" alt="">
  </div>
  <div class="col-md-2 col-sm-4 col-xs-12">
    <img src="assets/images/aClient.png" alt="">

  </div>
</section>